<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="SlidingTabLayoutTutorial.SlidingTabLayoutTutorial" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="SlidingTabLayoutTutorial" android:icon="@drawable/Icon" android:theme="@style/CustomActionBarTheme"></application>
</manifest>