<!-- <ListView
  [items]="challenges"
  (itemTap)="onItemTap($event)"
  iosEstimatedRowHeight="65"
>
  <ng-template let-challenge="item" let-i="index">
    <GirdLayout rows="40,20" colums="50,*">
      <Label [text]="i" row="0" col="0" rowSpan="2"></Label>
      <Label [text]="challenge" row="0" col="1"></Label>
      <Label text="Item content row 2" row="1" col="1"></Label>
    </GirdLayout>
  </ng-template>
</ListView> -->

<!-- <ScrollView>
    <StackLayout>
      <Label
        class="title"
        [text]="currentChallenge"
        horizontalAlignment="center"
        *ngFor="let currentChallenge of challenges"
      ></Label>
    </StackLayout>
  </ScrollView> -->
<ns-action-bar [title]="'Current challenge'"></ns-action-bar>
<StackLayout>
  <Label
    class="title"
    text="The current challenge"
    horizontalAlignment="center"
  ></Label>
  <Button text="Edit" (tap)="onEdit()"></Button>
  <Button text="Replace" nsRouterLink="/challenges/replace"></Button>
</StackLayout>
