<ListView [items]="challenges" (itemTap)="onItemTap($event)">
  <ng-template>
    <GirdLayout rows="40,auto">
      <Label text="Item" row="0" col="0" rowSpan="2"></Label>
      <Label text="Item content" row="0" col="1"></Label>
      <Label text="Item content row 2" row="1" col="1"></Label>
    </GirdLayout>
  </ng-template>
</ListView>

<!-- <ScrollView>
    <StackLayout>
      <Label
        class="title"
        [text]="currentChallenge"
        horizontalAlignment="center"
        *ngFor="let currentChallenge of challenges"
      ></Label>
    </StackLayout>
  </ScrollView> -->
