<!-- <FlexboxLayout flexDirection="column">
  <ns-challenge-edit (input)="onChallengeInput($event)"></ns-challenge-edit>
  <ns-current-challenge [challenges]="activeChallenges"></ns-current-challenge>
</FlexboxLayout>
 -->

<RadSideDrawer>
  <FlexboxLayout tkDrawerContent class="drawer-container">
    <Button text="Logout" class="btn" nsRouterLink="/" [clearHistory]="true" (tap)="onLogout()"></Button>
  </FlexboxLayout>
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>
